* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #262626;
    color: azure;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(20%);
    max-width: 768px;
    min-height: 512px;
    border: 1px dotted aliceblue;
    border-radius: 16px;
}
h2 {
    transform: translateY(-25%);
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke: 2px #666   ;
}
.rock,
.paper,
.scissor,
.final-message {
    height: 120px;
    width: 120px;
    border: 1px dotted aliceblue;
    text-transform: capitalize;
    border-radius: 16px;
}

.final-message {
    border: none;
    text-transform: uppercase;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
    div,
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        font-size: 2rem;
        cursor: pointer;
    }

    div:hover {
    box-shadow: 0 10px 50px rgb(37, 194, 233);
    }
    
}

@media (max-width : 720px) {
    .container {
    transform: translateY(0%);
    min-height: 80vh;
    border: 1px dotted aliceblue;
}
    h2 {
    font-size: 4rem;
}
}